Dockerfile
Dockerfile-tools
k8s
.vscode
.github
.git
.idea
tekton
.cfignore
.gitignore
build-docker
DONOT_SAVE_git_secret.yaml
TEMPLATE_GIT_SECRET.yaml
secret
.env

# misc
**/*DONOT_SAVE*.*
**/*DONOT_SAVE*
**/Thumbs.db