
.DS_Store
*.pyc
*.egg-info
server/localdev-config.json
credentials.json
localdev-config.json
venv/
secret-smtp-mailtrap.env
results/*.csv
sources/*.json
sources/*.html
sources/*.pdf
sources/*.txt
sources/*.zip
sources/*.file
sources/drafts/
sources/curated/
sources/zipfiles/


# misc
**/*DONOT_SAVE*.*
**/*DONOT_SAVE*
**/Thumbs.db
secret-db-fix-politics.env
cron/*.json
.vscode
