
.DS_Store
*.pyc
*.egg-info
*.old
*.bak
*.out
*.token
server/localdev-config.json
credentials.json
localdev-config.json
venv/
secret-smtp-mailtrap.env
results/*.csv
sources/*.html
sources/*.pdf
sources/*.txt
sources/*.zip
sources/*.file
sources/drafts/
sources/curated/
sources/zipfiles/
fob-storage/
intermediate.file
scan_json.pdf
logs/

# misc
**/*DONOT_SAVE*.*
**/*DONOT_SAVE*
**/Thumbs.db
secret-db-fix-politics.env
cron/*.json
.vscode
