[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"
selenium = "*"

[packages]
gunicorn = "20.0.4"
whitenoise = "5.1.0"
ibmcloudenv = "*"
livereload = "*"
django = ">=3.0.8"
six="1.15.0"
sqlparse="0.3.1"
tornado="6.0.4"
asgiref="3.2.10"
beautifulsoup4="4.9.1"
bootstrap4="0.1.0"
Django="3.0.8"
django-bootstrap4="2.2.0"
importlib-metadata="1.7.0"
pytz="2020.1"
soupsieve="2.0.1"
zipp="3.1.0"
