[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"
selenium = "*"

[packages]
gunicorn = "==20.0.4"
ibmcloudenv = "*"
livereload = "==2.6.2"
sqlparse = "==0.3.1"
beautifulsoup4 = "==4.9.1"
bootstrap4 = "==0.1.0"
Django = "==3.0.8"
django-bootstrap4 = "==2.2.0"
pytz = "==2020.1"
soupsieve = "==2.0.1"
zipp = "==3.1.0"
django-pdb = "*"
django-extensions = "*"
psycopg2-binary= "*"
requests = "*"
ibm-watson = "*"
ibm-cos-sdk = "*"
ibm-cloud-sdk-core = "*"
"pdfminer.six" = "*"
lxml = "*"
html5lib = "*"
docutils = "*"
sphinx = "*"
nltk = "*"
gitchangelog = "*"
pystache = "*"
titlecase = "*"
pylint = "*"
pylint-django = "*"
pyjwt = "*"
jinja2 = "*"
isort = "*"
asgiref = "*"
whitenoise = "*"
