{% load bootstrap4 %}

<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,
       shrink-to-fit=no">
<title>Fix Politics</title>

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<style>
.bg-company-red {
    background-color: #6F2F2C !important;
    color: #ffffff;
    }
</style>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-company-red mb-5 border">

<a class="navbar-brand" href="{% url 'fixpol:index' %}">
           Fix Politics
</a>

<button class="navbar-toggler" type="button" data-toggle="collapse"
           data-target="#navbarCollapse" aria-controls="navbarCollapse"
           aria-expanded="false" aria-label="Toggle navigation">

<span class="navbar-toggler-icon"></span></button>

<div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
<ul class="navbar-nav text-right">
    <li class="nav-item">
    <a class="nav-link" href="{% url 'fixpol:locations'%}">
               Locations</a></li>

    <li class="nav-item">
    <a class="nav-link" href="{% url 'fixpol:impacts'%}">
               Impacts</a></li>

{% if user.is_authenticated %}
<li class="nav-item">
<span class="nav-link active">Hello, {{ user.username }}.</span>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'users:profile' %}">Profile</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'users:logout' %}">Sign out</a>
</li>
{% else %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'users:register' %}">Register</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'users:login' %}">Sign in</a></li>
{% endif %}

</ul>
</div>
</nav>

<main role="main" class="container">

<div class="m-0 mb-4 pl-5 pr-5 pt-2 pb-2 text-center bg-company-red">
       {% block page_header %}{% endblock page_header %}
       </div>

<div>
       {% block content %}{% endblock content %}
       </div>
</main>
</body>

</html>
