{% extends "base.html" %}

{% block page_header %}
<h1>Fix Politics!</h1>

<!--
<span class="d-block d-sm-none">This screen is: xs</span>
<span class="d-none d-sm-block d-md-none">This screen is: sm</span>
<span class="d-none d-md-block d-lg-none">This screen is: md</span>
<span class="d-none d-lg-block d-xl-none">This screen is: lg</span>
<span class="d-none d-xl-block">This screen is: xl</span>
-->


<div class="row">
  <div class="col-1 col-sm-2 col-md-3 col-lg-4">&nbsp;</div>
  <div class="col-10 col-sm-8 col-md-6 col-lg-4">
<p class="lead">This project is designed to help you find
            policies and legislation that impact you in your
            community.</p>

<p class="d-none d-sm-block">
Search by location and the impact areas you are concerned about. 
</p>

{% if user.is_authenticated %}
{% else %}
<p class="d-none d-sm-block">Optionally, you can register your profile,
to save your search preferences for next time.</p>
{% endif %}
  </div>
  <div class="col-1 col-sm-2 col-md-3 col-lg-4">&nbsp;</div>
</div>

<!--
<span class="d-none d-xl-block">xl and above</span>
<span class="d-none d-lg-block">lg and above</span>
<span class="d-none d-md-block">md and above</span>
<span class="d-none d-sm-block">sm and above</span>
-->

{% endblock page_header %}

{% block content %}


<div class="btn-toolbar float-right">
<a class="btn btn-lg btn-warning mr-3 float-right" 
            href="{% url 'fixpol:search' %}"
            role="button">Search &raquo;</a>
{% if user.is_authenticated %}
{% else %}
&nbsp;
<a class="btn btn-lg btn-primary mr-3 float-right" 
            href="{% url 'users:register' %}"
            role="button">Register &raquo;</a>
{% endif %}
</div>
{% endblock content %}
