{% extends "base.html" %}

{% block page_header %}
Search legislation
{% endblock page_header %}




{% block content %}
<div class="signin-register-search">

    <p>Select your location and the impacts are you are concerned about:</p>

<style>
ul {
    list-style-type: none;
}
</style>

    <form action="{% url 'fixpol:search' %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
      <button id="submit" name="submit" class="btn btn-lg btn-success"
          value="1">Search Legislation</button>
    </form>
</div>

{% endblock content %}






