{% extends "base.html" %}

{% load bootstrap4 %}
{% block content %}

<div class="title-banner-standard">
    <p class="small-header-title">
        Sign in to your account
    </p>
</div>

<div class="signin-register">

    

    <form method="post" action="{% url 'users:login' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button name="submit" class="button-submit-update button-submit">Sign in</button>
    {% endbuttons %}

    <input type="hidden" name="next"
            value="{% url 'fixpol:index' %}" />
    </form>

</div>

{% endblock content %}
