{% extends "base.html" %}

{% load bootstrap4 %}

{% block page_header %}
Sign in
{% endblock page_header %}


{% block content %}

<div class="title-banner-standard">
    <p class="small-header-title">
        Sign in to your account
    </p>
</div>

<div class="signin-register-search">

    

    <form method="post" action="{% url 'users:login' %}" class="form" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button id="submit" name="submit" class="btn btn-lg btn-success"
          value="1">Sign in</button>
    {% endbuttons %}

    <input type="hidden" name="next"
            value="{% url 'cfc_app:index' %}" />
    </form>

</div>

{% endblock content %}
