{% extends "base.html" %}


{% block page_header %}
<h4>Register</h4>
{% endblock page_header %}


{% block content %}
<div class="signin-register-search">
  <form method="post" action="{% url 'users:register' %}">
    {% csrf_token %}
    {{ form.as_p }}


   

  <div class="form-group">
  <a class="btn btn-lg btn-danger" id="cancel" name="cancel" 
           href="{% url 'fixpol:index' %}"
           role="button">Cancel</a>
    <label class="control-label" for="submit"></label>
      <button id="submit" name="submit" 
          class="btn btn-lg btn-success float-right"
          value="1">Register &raquo;</button>
  </div>

    <input type="hidden" name="next" value="{% url 'fixpol:index' %}" />
  </form>

</div>

{% endblock content %}
