{% extends "base.html" %}

{% load bootstrap4 %}

{% block page_header %}
<h4>Register</h4>
{% endblock page_header %}


{% block content %}
<div class="signin-register-search">
  <form method="post" action="{% url 'users:register' %}" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}    

<div class="row"
  <div class="btn-group mx-auto" role="button">
  <a class="btn btn-lg btn-danger m-3" id="cancel" name="cancel" 
           href="{% url 'cfc_app:index' %}"
           role="button"> &laquo; Cancel</a>
    <label class="control-label" for="submit"></label>
      <button id="submit" name="submit" 
          class="btn btn-lg btn-success m-3" role="button"
          value="1">Register &raquo;</button>
  </div>
</div>
    <input type="hidden" name="next" value="{% url 'cfc_app:index' %}" />
  </form>

</div>
{% endblock content %}
